* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Muller;
    src: url("../fonts/MullerRegular.otf");
}

@font-face {
    font-family: MullerBold;
    src: url("../fonts/MullerBold.otf");
}

@font-face {
    font-family: MullerExtraBold;
    src: url("../fonts/MullerExtraBold.otf");
}

body {
    font-family: Muller, sans-serif;
}

.header, .footer {
    padding: 16px 0 15px 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 13.8px 1.2px rgba(152, 152, 152, 0.2);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    width: 489px;
    list-style: none;
}

.menu-item a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(164, 107, 0);
    line-height: 1;
}

.main {
    padding: 132px 0 81px 0;
}

.main .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-info {
    max-width: 622px;
}

.main-info h1 {
    margin-bottom: 13px;
    font-size: 45px;
    line-height: 1.222;
}

.double-title {
    font-family: MullerExtraBold, sans-serif;
    color: rgb(185, 145, 80);
}

.double-title span {
    color: #ffaf18;
}

.main-advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advantage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 306px;
    margin-top: 47px;
}

.advantage-text {
    margin-left: 16px;
}

.advantage-title {
    margin-bottom: 10px;
    font-size: 16px;
    font-family: MullerExtraBold, sans-serif;
    color: rgb(255, 175, 24);
    font-weight: bold;
    text-transform: uppercase;
}

.advantage-description {
    font-size: 16px;
    color: rgb(185, 145, 80);
}

.main-action {
    margin-top: 60px;
}

.btn {
    padding: 22px;
    box-sizing: border-box;
    width: 224px;
    background-color: rgb(255, 175, 24);
    font-size: 16px;
    font-family: MullerBold, sans-serif;
    color: rgb(56, 36, 0);
    border: 0;
    outline: none;
    cursor: pointer;
}

.products {
    padding: 80px 0 120px 0;
}

.products-title {
    font-size: 35px;
    font-family: MullerBold, sans-serif;
    color: rgb(189, 152, 92);
    text-align: center;
}

.products-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 35px;
}

.product {
    padding: 15px 20px;
    margin-top: 24px;
    width: 282px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 13.8px 1.2px rgba(152, 152, 152, 0.2);
    text-align: center;
}

.product-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
}

.product-title {
    font-size: 18px;
    font-family: MullerBold, sans-serif;
    color: rgb(56, 36, 0);
}

.product-text {
    margin: 14px 0 15px 0;
    font-size: 14px;
    color: rgb(24, 26, 26);
    line-height: 1.286;
    height: 49px;
}

.product-action .btn {
    padding: 17px 0;
    width: 242px;
}

.order {
    padding: 120px 0 115px 0;
    overflow: hidden;
}

.order .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.order-text {
    max-width: 384px;
}

.order-text-title {
    font-size: 35px;
    margin-bottom: 65px;
}

.order-text-message{
    font-size: 16px;
    color: rgb(185, 145, 80);
    line-height: 1.5;
}
.order-form{
    margin-left: 122px;
    max-width: 330px;
}

.order-input{
    padding: 23px 22px 24px;
    margin-bottom: 24px;
    border: 1px solid rgb(185, 145, 80);
    background-color: rgb(255, 255, 255);
    width: 330px;
    box-sizing: border-box;
    font-size: 18px;
    color: rgb(145, 105, 40);
    outline: none;
    height: 60px;
}
.order-input::placeholder {
    color: rgb(203, 168, 110);
}

.order .btn{
    width: 330px;
}

.order-image{
    width: 282px;
    position: relative;
    margin-left: 78px;
}

.order-image img{
    position: absolute;
    bottom: -35px;
    left: 0;
}

.footer .container{
    display: flex;
    align-items: center;
}

.footer-text{
    margin-left: 358px;
    font-size: 12px;
    color: rgb(186, 179, 179);
}

.burger{
    display: none;
}

.close{
    display: none;
}