#main{
   width:100%;
   height:10%;
   /*background:#009900;*/
   min-width: 600px;
   max-width: 1600px;
    margin:auto;
    text-align: center;
    background: #F0FFFF; /* Цвет фона таблицы */
        border: 5px double #000; /* Рамка вокруг таблицы */
}
.table .column {
    display: table-column;
}
.table p {
    margin: 0;
    padding: 10px;
    font-size: 20px;
    display: table-caption;

}
.tr{
padding: 5px; /
    border: 1px solid #808080;
 display: table-row;

 }
.td{
  display: table-cell;
padding: 5px;
    border: 1px solid #808080;
  }
.table{
display:table;

}
.td:hover{
/*background:#008000;*/
box-shadow: inset 0 0 0 3px #008000;
}

