/* Используемые цвета:

#777777 - рамка
#ffffff - header
#fffebc - желтый
#b2fdd0 - зеленый
#ffbaba - розовый

*/

.formula {
    width:100%;
    height:10%;
    border-collapse: collapse;
    min-width: 600px;
    max-width: 1600px;
    margin:auto;
    display: table;
}

.formula p {
    margin: 0;
    padding: 10px;
    font-size: 20px;
    display: table-caption;

    text-align: center;
}
.formula ul {
    display: table-row;
}
.formula li {
    display: table-cell;
}

.formula header {
    display: table-header-group;
    text-align: center;
    background-color: #ffffff;
}
.formula .column {
    display: table-column;
}
.formula .content {
    display: table-row-group;
}
.content li, .formula header li {
    border: 1px solid #777777;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}
.formula .column-group {
    display: table-column-group;
    background-color: #b2fdd0;
}
.formula .column-last {
    background-color: #ffbaba;
}
.content-important li {
    background-color: #fffebc;

}
.formula li:hover{
/*background:#008000;*/
box-shadow: inset 0 0 0 3px #008000;
}
#block_shadow{
    height:90px;
    width:380px;
    background: linear-gradient(to bottom, #368DDC,#1B69AF);
    border-radius: 10px;
     /*border: 1px solid #333; Параметры рамки margin-top : 20px*/
    margin:auto;
    box-shadow: 15px 15px 0px rgba(0,0,0,0.2);

   transition-property: opacity;
  transition-duration: .9s;
}
.block p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}
#block_shadow:hover{
opacity: 0;
}
a.buttonup {
width:50px;
height:51px;
position:fixed;
bottom:1%;
right:1%;
}
a.buttonup:hover{
background: url(icon24.png) bottom left no-repeat;
 visibility: hidden;
}
.butt {
position:fixed;
bottom:2%;
right:1%;