/* Используемые цвета:

#777777 - рамка
#ffffff - header
#fffebc - желтый
#b2fdd0 - зеленый
#ffbaba - розовый

*/


a.link {
    display: block;
    width: 100px; /* ширина */
    height: 30px; /* высота */
    line-height: 30px; /* интерлиньяж */
    background: url(arrow1.png) top left no-repeat; /* линк на картинку */
}
a.link:hover {
    background: url(arrow1.png) bottom left no-repeat; /* линк на картинку */
}
